<main>
    <section class="about">
        <div class="our-history">
            <h2>Nossa História</h2>
            <p>Em 2010, no coração da cidade, nasceu "DevBurritos" – um restaurante que traz a alma vibrante do México para o seu prato. Inspirado nas tradições familiares de Oaxaca, nosso fundador, Carlos Méndez, decidiu compartilhar os sabores autênticos que aprendeu com sua avó, usando ingredientes frescos e receitas passadas por gerações.

                Começamos como um pequeno food truck, onde conquistamos clientes com nossos tacos artesanais e molhos feitos na hora. O sucesso foi tão grande que, em 2015, abrimos nosso primeiro restaurante, decorado com cores vivas e arte folclórica mexicana, criando um pedacinho do México em cada detalhe.
                
                Hoje, somos referência em comida mexicana autêntica, desde os clássicos burritos e enchiladas até pratos regionais como mole poblano e cochinita pibil. Tudo preparado com o mesmo amor e cuidado que nos fizeram crescer.</p>
        </div>
        <div class="restaurant-picture">
            <img src="/samuel-foster-LxD9fZYR2uw-unsplash (1) (1) (2).webp" alt="restaurant" loading="lazy">
        </div>
    </section>
    <section class="menu">
        <h2>Nosso Cardápio</h2>
        <div class="grid">
            <div class="card">
                <div class="card-img">
                    <img src="/tacos.webp" alt="tacos" loading="lazy">
                </div>
                <div class="card-body">
                    <span class="card-title">Tacos</span>
                    <p class="card-description">Tortilla de milho artesanal, recheado com carnitas (porco desfiado e dourado), cebola roxa, coentro fresco, abacate e molho salsa verde ou roja (caseiros)</p>
                    <div class="card-info">
                        <p class="card-price">R$ 100.00</p>
                        <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                    <div class="dish-rate">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <span>(500+)</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-img">
                    <img src="/burritos.webp" alt="burritos" loading="lazy">
                </div>
                <div class="card-body">
                    <span class="card-title">Burritos</span>
                    <p class="card-description">Tortilla de farinha fresca, recheado com frango ao chipotle, Coberto com molho de queijo nacho. Arroz vermelho, feijão refrito, pico de gallo, creme azedo</p>
                    <div class="card-info">
                        <p class="card-price">R$ 110.00</p>
                        <button class="add-to-cart-btn"><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                    <div class="dish-rate">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <span>(500+)</span>
                    </div>
                </div>
            </div>
        </div>
        <a href="/cardapio">Veja Nosso Cardápio</a>
    </section>
    <section class="location">
        <h2>Venha Nos Conhecer</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3653.6777886461514!2d-46.562530599999995!3d-23.687478100000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4353fea4c1a9%3A0xff3b58ed38024100!2sCileide%20Lanfredi%20-%20Hair%20Studio!5e0!3m2!1spt-BR!2sbr!4v1744325870165!5m2!1spt-BR!2sbr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</main>
