@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

$rojoFuego: #E3170A;
$amarilloSol: #FFC43D;
$amarillo: rgba(243, 243, 64, 0.801);
$verdeEsmeralda: #2A9D8F;
$naranjaPicante: #F77F00;
$chocolate: #5E3023;
$branco: #FFFFFF;
$preto: rgba(26, 23, 23, 0.836);